Repository thorntail/thorntail, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wildfly-swarm/core, @wildfly-swarm/architects, @wildfly-swarm/qe, @wildfly-swarm/documentation

Added an http handler to handle the /openapi endpoint
  fractions/microprofile/microprofile-openapi/module.conf
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiHttpHandler.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiUndertowFilterCustomizer.java
Owners: @wildfly-swarm/core

Added an http handler to handle the /openapi endpoint
  fractions/microprofile/microprofile-openapi/module.conf
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiHttpHandler.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiUndertowFilterCustomizer.java
Owners: @wildfly-swarm/core

ENTSWM-258: switched to fraction plugin 80 (#758)
  build-parent/pom.xml
Owners: @wildfly-swarm/core

added all TCK testng tests as wrapped junit test cases which directly invoke OpenApiDeploymentProcessor for fast TCK testing (no arquillian)
  fractions/microprofile/microprofile-openapi/pom.xml
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/links/LinkImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/media/SchemaImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiAnnotationScanner.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiConfig.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/util/FilterUtil.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDeploymentProcessorTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/AirlinesAppTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/FilterTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/ModelReaderAppTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigExcludeClassTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigExcludeClassesTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigExcludePackageTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigScanClassTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigScanClassesTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigScanDisableTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigScanPackageTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/PetStoreAppTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/StaticDocumentTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/test/org/wildfly/swarm/microprofile/openapi/BaseTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/test/org/wildfly/swarm/microprofile/openapi/ProxiedTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/test/org/wildfly/swarm/microprofile/openapi/TckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/test/org/wildfly/swarm/microprofile/openapi/TckTestRunner.java
Owners: @wildfly-swarm/core

added all TCK testng tests as wrapped junit test cases which directly invoke OpenApiDeploymentProcessor for fast TCK testing (no arquillian)
  fractions/microprofile/microprofile-openapi/pom.xml
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/links/LinkImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/media/SchemaImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiAnnotationScanner.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiConfig.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/util/FilterUtil.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDeploymentProcessorTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/AirlinesAppTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/FilterTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/ModelReaderAppTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigExcludeClassTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigExcludeClassesTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigExcludePackageTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigScanClassTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigScanClassesTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigScanDisableTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/OASConfigScanPackageTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/PetStoreAppTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/tck/StaticDocumentTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/test/org/wildfly/swarm/microprofile/openapi/BaseTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/test/org/wildfly/swarm/microprofile/openapi/ProxiedTckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/test/org/wildfly/swarm/microprofile/openapi/TckTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/test/org/wildfly/swarm/microprofile/openapi/TckTestRunner.java
Owners: @wildfly-swarm/core

Switch to jdk 8
  core/pom.xml
  core/src/main/java/module-info.java
  core/src/main/java/org/jboss/unimbus/UNimbus.java
  examples/README.adoc
  examples/servlet/pom.xml
  examples/servlet/src/main/java/module-info.java
  examples/servlet/src/main/java/org/jboss/unimbus/example/MyAppUNimbusConfig.java
  examples/servlet/src/main/resources/META-INF/beans.xml
  pom.xml
  spi/src/main/java/module-info.java
  undertow/pom.xml
  undertow/src/main/java/module-info.java
  undertow/src/main/java/org/jboss/unimbus/undertow/UndertowServer.java
  undertow/src/main/resources/META-INF/beans.xml
Owners: @wildfly-swarm/architects, @wildfly-swarm/core

Initial crack at starting undertow with servlets
  examples/servlet/src/main/java/org/jboss/unimbus/example/MyAppUNimbusConfig.java
  undertow/src/main/java/org/jboss/unimbus/undertow/UndertowServer.java
Owners: @wildfly-swarm/core

Fix servlet path
  undertow/src/main/java/org/jboss/unimbus/undertow/UndertowServer.java
Owners: @wildfly-swarm/core

Remove unneeded logger
  examples/servlet/pom.xml
Owners: @wildfly-swarm/core

Fix Default configuration not being scoped as a bean
  core/src/main/java/org/jboss/unimbus/DefaultUNimbusConfiguration.java
Owners: @wildfly-swarm/architects

- Update to MP config 1.2 and WF Config 1.2.1 - Disable TCK tests that have been challenged
  build-parent/pom.xml
  testsuite/microprofile-tcks/config/pom.xml
  testsuite/microprofile-tcks/config/src/test/java/org/wildfly/swarm/microprofile/config/tck/TestNGAnnotationTransformer.java
  testsuite/microprofile-tcks/config/src/test/resources/TCK-exclusions.txt
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

Add OpenApiHttpHandler to provide OpenAPI HTTP endpoint
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/io/OpenApiSerializer.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiHttpHandler.java
Owners: @wildfly-swarm/core

forced maven-surefire to only use junit (necessary now that testng is being imported transitively
  fractions/microprofile/microprofile-openapi/pom.xml
Owners: @wildfly-swarm/core

forced maven-surefire to only use junit (necessary now that testng is being imported transitively
  fractions/microprofile/microprofile-openapi/pom.xml
Owners: @wildfly-swarm/core

SWARM-1779 Remove unused code in microprofile-health HttpContexts
  fractions/microprofile/microprofile-health/src/main/java/org/wildfly/swarm/microprofile/health/runtime/HttpContexts.java
Owners: @wildfly-swarm/core

Add uber jar packaging to example
  examples/servlet/pom.xml
Owners: @wildfly-swarm/core

SWARM-1779 Remove unused code in microprofile-health HttpContexts (#762)
  fractions/microprofile/microprofile-health/src/main/java/org/wildfly/swarm/microprofile/health/runtime/HttpContexts.java
Owners: @wildfly-swarm/core

Checkpoint some config.
  core/src/main/java/org/jboss/unimbus/UNimbus.java
  core/src/main/java/org/jboss/unimbus/config/Configuration.java
  core/src/main/java/org/jboss/unimbus/config/DefaultValue.java
  core/src/main/java/org/jboss/unimbus/config/PropertiesConfiguration.java
  core/src/main/java/org/jboss/unimbus/config/PropertiesConfigurator.java
  core/src/main/java/org/jboss/unimbus/config/Value.java
  core/src/main/java/org/jboss/unimbus/config/ValueProducer.java
  examples/pom.xml
  examples/servlet/src/test/java/org/jboss/unimbus/example/ServletTest.java
  undertow/src/main/java/org/jboss/unimbus/undertow/UndertowConfigurationDefaults.java
  undertow/src/main/java/org/jboss/unimbus/undertow/UndertowServer.java
Owners: @wildfly-swarm/architects, @wildfly-swarm/core

Checkpoint some JDBC, JPA, JNDI, and datasources.
  core/src/main/java/org/jboss/unimbus/Initializer.java
  core/src/main/java/org/jboss/unimbus/Initializers.java
  core/src/main/java/org/jboss/unimbus/UNimbus.java
  core/src/main/java/org/jboss/unimbus/condition/ConditionExtension.java
  core/src/main/java/org/jboss/unimbus/condition/IfClassNotPresent.java
  core/src/main/java/org/jboss/unimbus/condition/IfClassPresent.java
  datasources/pom.xml
  datasources/src/main/java/org/jboss/unimbus/datasources/DataSourceInitializer.java
  datasources/src/main/java/org/jboss/unimbus/datasources/DataSourceProducer.java
  datasources/src/main/resources/META-INF/beans.xml
  examples/poc/pom.xml
  examples/poc/src/main/java/org/jboss/unimbus/example/MyAppUNimbusConfig.java
  examples/poc/src/main/java/org/jboss/unimbus/example/MyApplication.java
  examples/poc/src/main/java/org/jboss/unimbus/example/MyServlet.java
  examples/poc/src/main/resources/META-INF/beans.xml
  examples/poc/src/main/resources/META-INF/persistence.xml
  examples/poc/src/test/java/org/jboss/unimbus/example/PoCTest.java
  jdbc/pom.xml
  jdbc/src/main/java/org/jboss/unimbus/jdbc/H2DriverProducer.java
  jdbc/src/main/java/org/jboss/unimbus/jdbc/MySQLDriverProducer.java
  jdbc/src/main/resources/META-INF/beans.xml
  jndi/pom.xml
  jndi/src/main/java/org/jboss/unimbus/jndi/InMemoryContext.java
  jndi/src/main/java/org/jboss/unimbus/jndi/InMemoryContextFactory.java
  jndi/src/main/java/org/jboss/unimbus/jndi/InMemoryInitialContextFactoryBuilder.java
  jndi/src/main/java/org/jboss/unimbus/jndi/InMemoryNameParser.java
  jndi/src/main/java/org/jboss/unimbus/jndi/InitialContextProducer.java
  jndi/src/main/java/org/jboss/unimbus/jndi/JNDIInitializer.java
  jndi/src/main/resources/META-INF/beans.xml
  jpa/pom.xml
  jpa/src/main/java/org/jboss/unimbus/jpa/EntityManagerFactoryProducer.java
  jpa/src/main/java/org/jboss/unimbus/jpa/EntityManagerProducer.java
  jpa/src/main/resources/META-INF/beans.xml
  pom.xml
Owners: @wildfly-swarm/architects, @wildfly-swarm/core

SWARM-1775: Fix module id to path resolution in ClassPathModuleFinders
  core/bootstrap/src/main/java/org/wildfly/swarm/bootstrap/modules/BootstrapClasspathModuleFinder.java
  core/bootstrap/src/main/java/org/wildfly/swarm/bootstrap/modules/ClasspathModuleFinder.java
Owners: @wildfly-swarm/architects

SWARM-1775: Add tests
  core/bootstrap/src/test/java/org/wildfly/swarm/bootstrap/modules/BootstrapClasspathModuleFinderTest.java
  core/bootstrap/src/test/java/org/wildfly/swarm/bootstrap/modules/ClasspathModuleFinderTest.java
  core/bootstrap/src/test/resources/modules/classpath/module/load/test/1.0.0.Final/module.xml
  core/bootstrap/src/test/resources/modules/classpath/module/load/test/main/module.xml
Owners: @wildfly-swarm/architects

JTA integration with JPA.
  datasources/src/main/java/org/jboss/unimbus/datasources/DataSourceProducer.java
  examples/poc/pom.xml
  examples/pom.xml
  jdbc/src/main/java/org/jboss/unimbus/jdbc/DriverInfo.java
  jdbc/src/main/java/org/jboss/unimbus/jdbc/H2DriverProducer.java
  jdbc/src/main/java/org/jboss/unimbus/jdbc/MySQLDriverProducer.java
  jpa/pom.xml
  jpa/src/main/java/org/jboss/unimbus/jpa/EntityManagerFactoryProducer.java
  jpa/src/main/java/org/jboss/unimbus/jpa/EntityManagerProducer.java
  jpa/src/main/java/org/jboss/unimbus/jpa/PersistenceUnitDescriptorProducer.java
  jta/pom.xml
  jta/src/main/resources/META-INF/beans.xml
  pom.xml
Owners: @wildfly-swarm/core

- Update to MP config 1.2 and WF Config 1.2.1 (#761)
  build-parent/pom.xml
  testsuite/microprofile-tcks/config/pom.xml
  testsuite/microprofile-tcks/config/src/test/java/org/wildfly/swarm/microprofile/config/tck/TestNGAnnotationTransformer.java
  testsuite/microprofile-tcks/config/src/test/resources/TCK-exclusions.txt
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

SWARM-1746 Bump to Metrics spec 1.1
  build-parent/pom.xml
  fractions/microprofile/microprofile-metrics/module.conf
  fractions/microprofile/microprofile-metrics/pom.xml
  fractions/microprofile/microprofile-metrics/src/main/java/org/wildfly/swarm/microprofile/metrics/MicroprofileMetricsFraction.java
  fractions/microprofile/microprofile-metrics/src/main/java/org/wildfly/swarm/microprofile/metrics/deployment/MetricsInterceptor.java
  fractions/microprofile/microprofile-metrics/src/main/java/org/wildfly/swarm/microprofile/metrics/runtime/MetricsRegistryImpl.java
  fractions/microprofile/microprofile-metrics/src/main/java/org/wildfly/swarm/microprofile/metrics/runtime/MetricsService.java
  fractions/microprofile/microprofile-metrics/src/main/java/org/wildfly/swarm/microprofile/metrics/runtime/MetricsServiceActivator.java
  testsuite/microprofile-tcks/metrics/pom.xml
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

ENTSWM-258: changed repo zip generation to use bom
  boms/src/main/resources/generated-project-template.xml
  build-parent/pom.xml
Owners: @wildfly-swarm/core

Modify servlet example test to hit URL and check response.
  examples/servlet/src/test/java/org/jboss/unimbus/example/ServletTest.java
  pom.xml
Owners: @wildfly-swarm/core

Remove separate SPI module for Core pieces
  core/pom.xml
  core/src/main/java/org/jboss/unimbus/spi/UNimbusConfiguration.java
  pom.xml
  spi/pom.xml
Owners: @wildfly-swarm/architects, @wildfly-swarm/core

Remove MP Config extension from MP Metrics Fraction definition
  fractions/microprofile/microprofile-metrics/pom.xml
  fractions/microprofile/microprofile-metrics/src/main/java/org/wildfly/swarm/microprofile/metrics/MicroprofileMetricsFraction.java
Owners: @wildfly-swarm/core

Initial cut of servlet and server SPIs integrated into core and undertow
  core/pom.xml
  core/src/main/java/org/jboss/unimbus/DefaultUNimbusConfiguration.java
  core/src/main/java/org/jboss/unimbus/spi/ServerFactory.java
  examples/servlet/pom.xml
  examples/servlet/src/main/java/org/jboss/unimbus/example/MyAppUNimbusConfig.java
  examples/servlet/src/main/java/org/jboss/unimbus/example/MyApplication.java
  examples/servlet/src/test/java/org/jboss/unimbus/example/ServletTest.java
  pom.xml
  servlet-spi/pom.xml
  servlet-spi/src/main/java/org/jboss/unimbus/servlet/spi/WebServer.java
  servlet-spi/src/main/resources/META-INF/beans.xml
  undertow/src/main/java/org/jboss/unimbus/undertow/UndertowServer.java
  web/pom.xml
  web/src/main/java/org/jboss/unimbus/web/WebServerFactory.java
  web/src/main/resources/META-INF/beans.xml
Owners: @wildfly-swarm/architects, @wildfly-swarm/core

Use web.server.port for the time-being.
  pom.xml
  undertow/pom.xml
  undertow/src/main/java/org/jboss/unimbus/undertow/UndertowServer.java
Owners: @wildfly-swarm/core

- Rework WebServerFactory into initializers - Add pre() and post() to Initializer with default methods - UNimbus now calls UINimbusConfiguration.run() in between pre() and post()
  core/src/main/java/org/jboss/unimbus/DefaultUNimbusConfiguration.java
  core/src/main/java/org/jboss/unimbus/Initializer.java
  core/src/main/java/org/jboss/unimbus/InitializerHandler.java
  core/src/main/java/org/jboss/unimbus/Initializers.java
  core/src/main/java/org/jboss/unimbus/UNimbus.java
  datasources/src/main/java/org/jboss/unimbus/datasources/DataSourceInitializer.java
  jndi/src/main/java/org/jboss/unimbus/jndi/JNDIInitializer.java
  web/src/main/java/org/jboss/unimbus/web/WebServerInitializer.java
Owners: @wildfly-swarm/architects, @wildfly-swarm/core

Remove carry over class from initializer alignment
  core/src/main/java/org/jboss/unimbus/spi/ServerFactory.java
  web/src/main/java/org/jboss/unimbus/web/WebServerInitializer.java
Owners: @wildfly-swarm/architects, @wildfly-swarm/core

Switch to using CDI Events instead of SPI/API for handling initialization, starting, etc
  core/pom.xml
  core/src/main/java/org/jboss/unimbus/Initializer.java
  core/src/main/java/org/jboss/unimbus/InitializerHandler.java
  core/src/main/java/org/jboss/unimbus/UNimbus.java
  core/src/main/java/org/jboss/unimbus/events/AfterStart.java
  core/src/main/java/org/jboss/unimbus/events/BeforeStart.java
  core/src/main/java/org/jboss/unimbus/events/EventEmitter.java
  core/src/main/java/org/jboss/unimbus/events/Start.java
  datasources/src/main/java/org/jboss/unimbus/datasources/DataSourceInitializer.java
  datasources/src/main/java/org/jboss/unimbus/datasources/DataSourceListener.java
  jndi/src/main/java/org/jboss/unimbus/jndi/JNDIInitializer.java
  jndi/src/main/java/org/jboss/unimbus/jndi/JNDIListener.java
  web/src/main/java/org/jboss/unimbus/web/WebServerListener.java
Owners: @wildfly-swarm/architects, @wildfly-swarm/core

sm - fix ignore datasource url specified
  fractions/javaee/datasources/src/main/java/org/wildfly/swarm/datasources/runtime/DatasourceAndDriverCustomizer.java
  fractions/javaee/datasources/src/main/java/org/wildfly/swarm/datasources/runtime/DefaultDatasourceCustomizer.java
Owners: @wildfly-swarm/core

SWARM-1784: fix ignore datasource jndi name
  fractions/javaee/datasources/src/main/java/org/wildfly/swarm/datasources/runtime/DatasourceAndDriverCustomizer.java
  fractions/javaee/datasources/src/main/java/org/wildfly/swarm/datasources/runtime/DefaultDatasourceCustomizer.java
Owners: @wildfly-swarm/core

SWARM-1787: explicit Swarm version for howtos
  docs/howto/pom.xml
Owners: @wildfly-swarm/documentation

SWARM-1784: fix ignore datasource jndi name (#765)
  fractions/javaee/datasources/src/main/java/org/wildfly/swarm/datasources/runtime/DatasourceAndDriverCustomizer.java
  fractions/javaee/datasources/src/main/java/org/wildfly/swarm/datasources/runtime/DefaultDatasourceCustomizer.java
Owners: @wildfly-swarm/core

Checkpoint CDI + JAXRS + Undertow.
  core/src/main/java/org/jboss/unimbus/UNimbus.java
  core/src/main/java/org/jboss/unimbus/events/EventEmitter.java
  core/src/main/java/org/jboss/unimbus/events/Initialize.java
  core/src/main/java/org/jboss/unimbus/events/PostInitialize.java
  core/src/main/java/org/jboss/unimbus/events/PreInitialize.java
  core/src/main/resources/META-INF/services/javax.enterprise.inject.spi.Extension
  examples/poc/src/main/java/org/jboss/unimbus/example/MyAppUNimbusConfig.java
  examples/poc/src/main/java/org/jboss/unimbus/example/MyServlet.java
  examples/poc/src/test/java/org/jboss/unimbus/example/PoCTest.java
  examples/pom.xml
  examples/proof/pom.xml
  examples/proof/src/main/java/org/jboss/unimbus/example/Main.java
  examples/proof/src/main/java/org/jboss/unimbus/example/ProofApplication.java
  examples/proof/src/main/java/org/jboss/unimbus/example/ProofResource.java
  examples/proof/src/main/resources/META-INF/beans.xml
  examples/proof/src/main/resources/META-INF/persistence.xml
  examples/proof/src/main/resources/logging.properties
  examples/proof/src/test/java/org/jboss/unimbus/example/PoCTest.java
  examples/servlet/pom.xml
  jaxrs/pom.xml
  jaxrs/src/main/java/org/jboss/unimbus/jaxrs/JAXRSDeploymentInfoInitializer.java
  jaxrs/src/main/resources/META-INF/beans.xml
  jndi/src/main/java/org/jboss/unimbus/jndi/InitialContextProducer.java
  pom.xml
  undertow/src/main/java/org/jboss/unimbus/undertow/DeploymentManagersProducer.java
  undertow/src/main/java/org/jboss/unimbus/undertow/DeploymentMounter.java
  undertow/src/main/java/org/jboss/unimbus/undertow/RootHandlerProducer.java
  undertow/src/main/java/org/jboss/unimbus/undertow/ServletContainerProducer.java
  undertow/src/main/java/org/jboss/unimbus/undertow/ServletDeploymentInfoInitializer.java
  undertow/src/main/java/org/jboss/unimbus/undertow/UndertowConfigurationDefaults.java
  undertow/src/main/java/org/jboss/unimbus/undertow/UndertowDeploymentInfos.java
  undertow/src/main/java/org/jboss/unimbus/undertow/UndertowProducer.java
  undertow/src/main/java/org/jboss/unimbus/undertow/UndertowServer.java
  web/src/main/java/org/jboss/unimbus/web/WebServerListener.java
Owners: @wildfly-swarm/architects, @wildfly-swarm/core

Cleanup printlns.
  core/src/main/java/org/jboss/unimbus/condition/ConditionExtension.java
  examples/proof/src/main/java/org/jboss/unimbus/example/ProofResource.java
  jaxrs/src/main/java/org/jboss/unimbus/jaxrs/JAXRSDeploymentInfoInitializer.java
  jndi/src/main/java/org/jboss/unimbus/jndi/InMemoryContext.java
  jndi/src/main/java/org/jboss/unimbus/jndi/JNDIListener.java
  undertow/src/main/java/org/jboss/unimbus/undertow/DeploymentMounter.java
  undertow/src/main/java/org/jboss/unimbus/undertow/ServletDeploymentInfoInitializer.java
  undertow/src/main/java/org/jboss/unimbus/undertow/UndertowProducer.java
Owners: @wildfly-swarm/architects, @wildfly-swarm/core

Add JAX-RS example
  examples/jaxrs/pom.xml
  examples/jaxrs/src/main/java/org/jboss/unimbus/example/MyJaxrsApplication.java
  examples/jaxrs/src/main/java/org/jboss/unimbus/example/MyResource.java
  examples/jaxrs/src/main/resources/META-INF/beans.xml
  examples/jaxrs/src/test/java/org/jboss/unimbus/example/JaxrsTest.java
  examples/pom.xml
  examples/servlet/src/main/java/org/jboss/unimbus/example/MyApplication.java
  examples/servlet/src/main/java/org/jboss/unimbus/example/ServletMain.java
Owners: @wildfly-swarm/core

.github/CODEOWNERS:

# Anyone from Core team should approve a PR
* @wildfly-swarm/core

# Project architects
/core/ @wildfly-swarm/architects

# QE team for testsuites
/testsuite/ @wildfly-swarm/qe

# Docs team
/docs/ @wildfly-swarm/documentation
