Repository thorntail/thorntail, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wildfly-swarm/core, @wildfly-swarm/architects, @wildfly-swarm/qe, @wildfly-swarm/documentation

Added extra check to avoid error when start-stop-daemon is missing Adding support for chkconfig
  tools/src/main/resources/org/wildfly/swarm/tools/launch.sh
Owners: @wildfly-swarm/core

SWARM-1737: Keycloak Server fails to start
  fractions/keycloak-server/pom.xml
  fractions/keycloak-server/src/main/java/org/wildfly/swarm/keycloak/server/runtime/KeycloakCacheCustomizer.java
  fractions/keycloak-server/src/main/resources/modules/org/antlr/3-5/module.xml
  fractions/keycloak-server/src/main/resources/modules/org/drools/main/module.xml
Owners: @wildfly-swarm/core

SWARM-1757 - chkconfig does not configure runlevels properly (#751)
  tools/src/main/resources/org/wildfly/swarm/tools/launch.sh
Owners: @wildfly-swarm/core

Reformatted Maven plugin options table (#748)
  docs/reference/maven-plugin.adoc
Owners: @wildfly-swarm/documentation

SWARM-1737: Keycloak Server fails to start (#752)
  fractions/keycloak-server/pom.xml
  fractions/keycloak-server/src/main/java/org/wildfly/swarm/keycloak/server/runtime/KeycloakCacheCustomizer.java
  fractions/keycloak-server/src/main/resources/modules/org/antlr/3-5/module.xml
  fractions/keycloak-server/src/main/resources/modules/org/drools/main/module.xml
Owners: @wildfly-swarm/core

ENTSWM-256: switched to fraction plugin 79
  boms/pom.xml
  build-parent/pom.xml
Owners: @wildfly-swarm/core

SWARM-1677 -- Too much disk-space consumed.
  core/container/src/main/java/org/wildfly/swarm/container/runtime/RuntimeDeployer.java
  core/container/src/main/java/org/wildfly/swarm/container/runtime/wildfly/ShrinkWrapFileSystem.java
  core/container/src/main/java/org/wildfly/swarm/container/runtime/wildfly/SizingOutputStream.java
  core/container/src/main/java/org/wildfly/swarm/container/runtime/wildfly/SwarmContentRepository.java
Owners: @wildfly-swarm/architects

ENTSWM-256: switched to fraction plugin 79 (#754)
  boms/pom.xml
  build-parent/pom.xml
Owners: @wildfly-swarm/core

Initial add of the OpenAPI MP fraction.
  fractions/microprofile/microprofile-openapi/pom.xml
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/MicroprofileOpenApiFraction.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/ComponentsImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/ExtensibleImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/ExternalDocumentationImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/OpenAPIImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/OperationImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/PathItemImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/PathsImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/callbacks/CallbackImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/examples/ExampleImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/headers/HeaderImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/info/ContactImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/info/InfoImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/info/LicenseImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/links/LinkImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/media/ContentImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/media/DiscriminatorImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/media/EncodingImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/media/MediaTypeImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/media/SchemaImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/media/XMLImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/parameters/CookieParameterImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/parameters/HeaderParameterImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/parameters/ParameterImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/parameters/PathParameterImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/parameters/QueryParameterImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/parameters/RequestBodyImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/responses/APIResponseImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/responses/APIResponsesImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/security/OAuthFlowImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/security/OAuthFlowsImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/security/ScopesImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/security/SecurityRequirementImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/security/SecuritySchemeImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/servers/ServerImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/servers/ServerVariableImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/servers/ServerVariablesImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/tags/TagImpl.java
  pom.xml
Owners: @wildfly-swarm/core

updated project meta-data in pom.xml
  fractions/microprofile/microprofile-openapi/pom.xml
Owners: @wildfly-swarm/core

Finished the parser and serializer, need more unit tests to shake out bugs.
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/io/JsonUtil.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/io/OpenApiParser.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/io/OpenApiSerializer.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/OperationImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/media/SchemaImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/parser/JsonUtil.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/parser/OpenApiParser.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/parser/OpenApiSerializer.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/io/OpenApiParserAndSerializerTest.java
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/components-callbacks.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/components-empty.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/components-examples.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/components-headers.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/components-links.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/components-parameters.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/components-requestBodies.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/components-responses.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/components-schemas.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/components-securitySchemes.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/extensions.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/externalDocs.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/info.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/info.yaml
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/security.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/servers.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/servers.yaml
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/simplest.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/simplest.yaml
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/tags.json
Owners: @wildfly-swarm/core

added an everything i/o test using yaml, replaced hashmaps with linkedhashmaps so that some property ordering is maintained
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/io/OpenApiParser.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/ComponentsImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/ExtensibleImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/PathItemImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/PathsImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/callbacks/CallbackImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/headers/HeaderImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/links/LinkImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/media/DiscriminatorImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/media/MediaTypeImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/media/SchemaImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/parameters/ParameterImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/responses/APIResponseImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/security/ScopesImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/servers/ServerVariablesImpl.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/io/OpenApiParserAndSerializerTest.java
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/io/_everything.yaml
Owners: @wildfly-swarm/core

started work on the parser and serializer, with round-trip unit test
  fractions/microprofile/microprofile-openapi/pom.xml
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/media/EncodingImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/models/servers/ServerVariablesImpl.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/parser/JsonUtil.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/parser/OpenApiParser.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/parser/OpenApiSerializer.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/parser/OpenApiParserAndSerializerTest.java
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/parser/extensions.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/parser/externalDocs.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/parser/info.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/parser/info.yaml
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/parser/security.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/parser/servers.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/parser/servers.yaml
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/parser/simplest.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/parser/simplest.yaml
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/parser/tags.json
Owners: @wildfly-swarm/core

simple testsuite for the microprofile openapi fraction
  fractions/microprofile/microprofile-openapi/pom.xml
  pom.xml
  testsuite/testsuite-jaxrs/src/main/java/org/wildfly/swarm/jaxrs/MyResource.java
  testsuite/testsuite-microprofile-openapi/pom.xml
  testsuite/testsuite-microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/Activator.java
  testsuite/testsuite-microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/FooResource.java
  testsuite/testsuite-microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/OpenApiTest.java
  testsuite/testsuite-microprofile-openapi/src/test/resources/arquillian.xml
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

simple testsuite for the microprofile openapi fraction
  fractions/microprofile/microprofile-openapi/pom.xml
  pom.xml
  testsuite/testsuite-jaxrs/src/main/java/org/wildfly/swarm/jaxrs/MyResource.java
  testsuite/testsuite-microprofile-openapi/pom.xml
  testsuite/testsuite-microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/Activator.java
  testsuite/testsuite-microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/FooResource.java
  testsuite/testsuite-microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/OpenApiTest.java
  testsuite/testsuite-microprofile-openapi/src/test/resources/arquillian.xml
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

minor tweaks to try and get the fraction properly defined (unsuccessful)
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/MicroprofileOpenApiFraction.java
  fractions/microprofile/microprofile-openapi/src/main/resources/modules/org/eclipse/microprofile/openapi/main/module.xml
  testsuite/testsuite-microprofile-openapi/pom.xml
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

minor tweaks to try and get the fraction properly defined (unsuccessful)
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/MicroprofileOpenApiFraction.java
  fractions/microprofile/microprofile-openapi/src/main/resources/modules/org/eclipse/microprofile/openapi/main/module.xml
  testsuite/testsuite-microprofile-openapi/pom.xml
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

Some minor cleanup
  fractions/microprofile/microprofile-openapi/module.conf
  fractions/microprofile/microprofile-openapi/pom.xml
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/MicroprofileOpenApiFraction.java
  testsuite/testsuite-microprofile-openapi/pom.xml
  testsuite/testsuite-microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/OpenApiTest.java
  testsuite/testsuite-microprofile-openapi/src/test/resources/arquillian.xml
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

Some minor cleanup
  fractions/microprofile/microprofile-openapi/module.conf
  fractions/microprofile/microprofile-openapi/pom.xml
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/MicroprofileOpenApiFraction.java
  testsuite/testsuite-microprofile-openapi/pom.xml
  testsuite/testsuite-microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/OpenApiTest.java
  testsuite/testsuite-microprofile-openapi/src/test/resources/arquillian.xml
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

SWARM-1765: Transitive dependencies not present in Arquillian test.
  arquillian/adapter/src/main/java/org/wildfly/swarm/arquillian/adapter/UberjarSimpleContainer.java
  arquillian/test/pom.xml
  core/spi/src/main/java/org/wildfly/swarm/spi/api/DependenciesContainer.java
  tools/src/main/java/org/wildfly/swarm/tools/DeclaredDependencies.java
Owners: @wildfly-swarm/core, @wildfly-swarm/architects

SWARM-1765: Transitive dependencies not present in Arquillian test. (#755)
  arquillian/adapter/src/main/java/org/wildfly/swarm/arquillian/adapter/UberjarSimpleContainer.java
  arquillian/test/pom.xml
  core/spi/src/main/java/org/wildfly/swarm/spi/api/DependenciesContainer.java
  tools/src/main/java/org/wildfly/swarm/tools/DeclaredDependencies.java
Owners: @wildfly-swarm/core, @wildfly-swarm/architects

SWARM-1457: Swarmtool unable to resolve undertow artifacts
  plugins/gradle/src/main/java/org/wildfly/swarm/plugin/gradle/GradleArtifactResolvingHelper.java
  plugins/gradle/src/main/java/org/wildfly/swarm/plugin/gradle/PackageTask.java
Owners: @wildfly-swarm/core

SWARM-1677 -- Too much disk-space consumed. (#753)
  core/container/src/main/java/org/wildfly/swarm/container/runtime/RuntimeDeployer.java
  core/container/src/main/java/org/wildfly/swarm/container/runtime/wildfly/ShrinkWrapFileSystem.java
  core/container/src/main/java/org/wildfly/swarm/container/runtime/wildfly/SizingOutputStream.java
  core/container/src/main/java/org/wildfly/swarm/container/runtime/wildfly/SwarmContentRepository.java
Owners: @wildfly-swarm/architects

SWARM-1457: Swarmtool unable to resolve undertow artifacts (#756)
  plugins/gradle/src/main/java/org/wildfly/swarm/plugin/gradle/GradleArtifactResolvingHelper.java
  plugins/gradle/src/main/java/org/wildfly/swarm/plugin/gradle/PackageTask.java
Owners: @wildfly-swarm/core

initial openapi deployment processor
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDeploymentProcessor.java
  testsuite/testsuite-microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/OpenApiTest.java
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

initial openapi deployment processor
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDeploymentProcessor.java
  testsuite/testsuite-microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/OpenApiTest.java
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

ENTSWM-258: switched to fraction plugin 80
  build-parent/pom.xml
Owners: @wildfly-swarm/core

SWARM-1775: Fix module id to path resolution in ClassPathModuleFinders
  core/bootstrap/src/main/java/org/wildfly/swarm/bootstrap/modules/BootstrapClasspathModuleFinder.java
  core/bootstrap/src/main/java/org/wildfly/swarm/bootstrap/modules/ClasspathModuleFinder.java
Owners: @wildfly-swarm/architects

Turn transformer tests into integraiton tests to avoid classloading issues
  pom.xml
  testsuite/testsuite-jsp/src/main/java/org/wildfly/swarm/jsp/TransformerServlet.java
  testsuite/testsuite-jsp/src/test/java/org/wildfly/swarm/jsp/test/ArquillianTest.java
  testsuite/testsuite-jsp/src/test/java/org/wildfly/swarm/jsp/test/TransformerIT.java
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

SWARM-1775: Add tests
  core/bootstrap/src/test/java/org/wildfly/swarm/bootstrap/modules/BootstrapClasspathModuleFinderTest.java
  core/bootstrap/src/test/java/org/wildfly/swarm/bootstrap/modules/ClasspathModuleFinderTest.java
  core/bootstrap/src/test/resources/modules/classpath/module/load/test/1.0.0.Final/module.xml
  core/bootstrap/src/test/resources/modules/classpath/module/load/test/main/module.xml
Owners: @wildfly-swarm/architects

Initial cut of some basic work for a servlet example
  .gitignore
  README.adoc
  bootstrap/pom.xml
  bootstrap/src/main/java/module-info.java
  bootstrap/src/main/java/org/jboss/unimbus/bootstrap/Main.java
  core/pom.xml
  core/src/main/java/module-info.java
  core/src/main/java/org/jboss/unimbus/DefaultUNimbusConfiguration.java
  core/src/main/java/org/jboss/unimbus/UNimbus.java
  core/src/main/resources/META-INF/beans.xml
  examples/README.adoc
  examples/pom.xml
  examples/servlet/pom.xml
  examples/servlet/src/main/java/module-info.java
  examples/servlet/src/main/java/org/jboss/unimbus/example/MyAppUNimbusConfig.java
  examples/servlet/src/main/java/org/jboss/unimbus/example/MyApplication.java
  examples/servlet/src/main/java/org/jboss/unimbus/example/MyServlet.java
  pom.xml
  spi/pom.xml
  spi/src/main/java/module-info.java
  spi/src/main/java/org/jboss/unimbus/spi/UNimbusConfiguration.java
  undertow/pom.xml
  undertow/src/main/java/module-info.java
  weld-se/pom.xml
  weld-se/src/main/java/module-info.java
Owners: @wildfly-swarm/core, @wildfly-swarm/architects

Turn transformer tests into integraiton tests to avoid classloading issues (#760)
  pom.xml
  testsuite/testsuite-jsp/src/main/java/org/wildfly/swarm/jsp/TransformerServlet.java
  testsuite/testsuite-jsp/src/test/java/org/wildfly/swarm/jsp/test/ArquillianTest.java
  testsuite/testsuite-jsp/src/test/java/org/wildfly/swarm/jsp/test/TransformerIT.java
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

basic startup processing of deployment for MP+OpenAPI support. currently does everything except annotation scanning
  fractions/microprofile/microprofile-openapi/pom.xml
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/io/OpenApiParser.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/io/OpenApiSerializer.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiAnnotationScanner.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiConfig.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDeploymentProcessor.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDocumentHolder.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/util/FilterUtil.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/util/MergeUtil.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/io/OpenApiParserAndSerializerTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDeploymentProcessorTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/runtime/app/HelloResource.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/runtime/app/TestApplication.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/util/FilterUtilTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/util/MergeUtilTest.java
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/runtime/_filtered/_expected.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/runtime/_filtered/static.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/runtime/_modelReader/_expected.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/runtime/_static/_expected.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/runtime/_static/static.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/util/filter-after.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/util/filter-before.json
  testsuite/testsuite-microprofile-openapi/pom.xml
  testsuite/testsuite-microprofile-openapi/src/main/webapp/WEB-INF/web.xml
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

basic startup processing of deployment for MP+OpenAPI support. currently does everything except annotation scanning
  fractions/microprofile/microprofile-openapi/pom.xml
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/io/OpenApiParser.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/io/OpenApiSerializer.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiAnnotationScanner.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiConfig.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDeploymentProcessor.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDocumentHolder.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/util/FilterUtil.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/util/MergeUtil.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/io/OpenApiParserAndSerializerTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDeploymentProcessorTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/runtime/app/HelloResource.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/runtime/app/TestApplication.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/util/FilterUtilTest.java
  fractions/microprofile/microprofile-openapi/src/test/java/org/wildfly/swarm/microprofile/openapi/util/MergeUtilTest.java
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/runtime/_filtered/_expected.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/runtime/_filtered/static.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/runtime/_modelReader/_expected.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/runtime/_static/_expected.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/runtime/_static/static.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/util/filter-after.json
  fractions/microprofile/microprofile-openapi/src/test/resources/org/wildfly/swarm/microprofile/openapi/util/filter-before.json
  testsuite/testsuite-microprofile-openapi/pom.xml
  testsuite/testsuite-microprofile-openapi/src/main/webapp/WEB-INF/web.xml
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

added a static openapi.json file to the testsuite
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDeploymentProcessor.java
  testsuite/testsuite-microprofile-openapi/src/main/resources/META-INF/openapi.json
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

added a static openapi.json file to the testsuite
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDeploymentProcessor.java
  testsuite/testsuite-microprofile-openapi/src/main/resources/META-INF/openapi.json
Owners: @wildfly-swarm/core, @wildfly-swarm/qe

fixed some checkstyle errors
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDocumentHolder.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/util/FilterUtil.java
Owners: @wildfly-swarm/core

fixed some checkstyle errors
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDocumentHolder.java
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/util/FilterUtil.java
Owners: @wildfly-swarm/core

updated the openapi fraction to properly configure required modules. added temporary System.out logging
  fractions/microprofile/microprofile-openapi/module.conf
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDeploymentProcessor.java
  fractions/microprofile/microprofile-openapi/src/main/resources/modules/com/fasterxml/jackson/dataformat/jackson-dataformat-yaml/main/module.xml
  fractions/microprofile/microprofile-openapi/src/main/resources/modules/commons-beanutils/commons-beanutils/main/module.xml
  fractions/microprofile/microprofile-openapi/src/main/resources/modules/commons-io/commons-io/main/module.xml
Owners: @wildfly-swarm/core

updated the openapi fraction to properly configure required modules. added temporary System.out logging
  fractions/microprofile/microprofile-openapi/module.conf
  fractions/microprofile/microprofile-openapi/src/main/java/org/wildfly/swarm/microprofile/openapi/runtime/OpenApiDeploymentProcessor.java
  fractions/microprofile/microprofile-openapi/src/main/resources/modules/com/fasterxml/jackson/dataformat/jackson-dataformat-yaml/main/module.xml
  fractions/microprofile/microprofile-openapi/src/main/resources/modules/commons-beanutils/commons-beanutils/main/module.xml
  fractions/microprofile/microprofile-openapi/src/main/resources/modules/commons-io/commons-io/main/module.xml
Owners: @wildfly-swarm/core

.github/CODEOWNERS:

# Anyone from Core team should approve a PR
* @wildfly-swarm/core

# Project architects
/core/ @wildfly-swarm/architects

# QE team for testsuites
/testsuite/ @wildfly-swarm/qe

# Docs team
/docs/ @wildfly-swarm/documentation
